.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

.scroll-menu > .scroll-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.input-number {
    height: 5rem;
    width: 10rem;
    font-size: 4rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #3dc2ff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.label-number {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

input:focus{
  outline: none;
}